<template>
  <div>
    <footer class="footer" style="background-color: #e2e2e2">
      <div class="container level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Síguenos en</p>
            <p align=center style="padding-bottom: 2px">
              <a href="https://www.facebook.com/ConectAgro-Market-111912472798838/" target="_blank">
                <figure class="image is-32x32">
                  <img src="../../assets/facebook.svg">
                </figure>
              </a>
            </p>
            <p align=center style="padding-bottom: 2px">
              <a href="https://twitter.com/conectagrope" target="_blank">
                <figure class="image is-32x32">
                  <img src="../../assets/twitter.svg">
                </figure>
              </a>
            </p>
            <p align=center>
              <a href="https://www.youtube.com/channel/UCzkUEDPk1v_EuM0HeY97xTA" target="_blank">
                <figure class="image is-32x32">
                  <img src="../../assets/youtube.svg">
                </figure>
              </a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><router-link to = "/">Nosotros</router-link></p>
            <p class="heading"><router-link to = "/">Contáctanos</router-link></p>
            <p class="heading"><router-link to = "/">Blog</router-link></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><router-link to = "/">Términos y Condiciones</router-link></p>
            <p class="heading"><router-link to = "/">Políticas de Privacidad</router-link></p>
            <p class="heading"><router-link to = "/">conectagro.org</router-link></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="https://play.google.com/store/apps/details?id=app.ernestochira.com.conectagromarket&hl=es" target="_blank">
              <figure>
                <img src="../../assets/google_play.svg" width="200px">
              </figure>
            </a>
          </div>
        </div>
      </div>

    </footer>
    <div class="content has-text-centered" style="padding: 12px; background-color: #cecece">
      <p>
        <strong>&copy; 2018 Conectagro Market</strong>. Todos los derechos reservados.
      </p>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
