<template>
  <section class="hero is-medium is-bold">
    <div class="hero-head">
      <nav class="navbar" style="background-color: #d9904e">
        <div class="container">
          <div class="navbar-brand">
            <router-link to = "/" class="nav-logo"></router-link>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu" style="background-color: #d9904e">
            <div class="navbar-end">
              <span class="navbar-item is-active">
                <router-link to = "/">
                <a style="color: white">
                  Inicio
                </a>
                </router-link>
              </span>

              <div class="navbar-item has-dropdown is-hoverable" v-if="isAuthenticated">
                <a class="navbar-link has-text-white">
                  Mi cuenta
                </a>
                <div class="navbar-dropdown is-boxed">
                  <span class="navbar-item" v-for="customer in customers">
                    Hola,&nbsp;<b>{{ customer.nombres }} {{ customer.apellidos }}</b>
                  </span>
                  <hr class="navbar-divider">
                  <span class="navbar-item" v-if="storeId === 0">
                    <!--<b-icon icon="home"></b-icon>-->
                    <router-link :to="{ name: 'store-register' }" class="item-dropdown">Registar tienda</router-link>
                  </span>
                  <span class="navbar-item" v-if="storeId !== 0">
                    <router-link :to="{ name: '' }" class="item-dropdown">Mi tienda</router-link>
                  </span>
                  <span class="navbar-item">
                    <!--<b-icon icon="cart"></b-icon>-->
                    <router-link :to="{ name: 'purchases' }" class="item-dropdown">Mis compras</router-link>
                  </span>
                  <hr class="navbar-divider">
                  <span class="navbar-item is-active">
                    <b-icon icon="settings"></b-icon>
                    <router-link :to="{ name: '' }" class="item-dropdown">Configuración</router-link>
                  </span>
                  <span class="navbar-item is-active">
                    <b-icon icon="logout"></b-icon>
                    <a @click="logout" class="item-dropdown">Cerrar sesión</a>
                  </span>
                </div>
              </div>
              <span class="navbar-item" v-if="!isAuthenticated">
                <router-link
                  to="/login">
                  <span class="button is-white is-outlined is-small" @click="logout">Iniciar sesión</span>
                </router-link>
              </span>
              <span class="navbar-item is-active">
                <router-link :to="{ name: 'product-cart' }" style="color: white">
                  <span class="badge is-badge-success" :data-badge="number">
                    <b-icon icon="cart-outline"></b-icon>
                  </span>
                </router-link>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      navigation: 'home',
      customers: [],
      number: 0
    }
  },
  created () {
    console.log(localStorage.getItem("user_id"));
    this.getCustomer()
  },
  watch: {
    userId: {
      handler: function(val, oldVal) {
        this.getCustomer()
      }
    }
  },
  methods: {
    logout() {
      this.$store.commit('logout')
      localStorage.setItem("user_id", "");
    },
    getCustomer () {
      const self = this
      axios({
        method: 'GET',
        url: 'http://ws.conectagro.com/api/clientes',
        params: { usuarios_id: this.userId },
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          // console.log(response.data.data)
          this.customers = response.data.data
          // self.changePassword(response.data.data[0].id)
        })
    }
  },
  computed: {
    ...mapState(['isAuthenticated', 'hasStore', 'userId', 'storeId'])
  }
}
</script>

<style lang="css">
@media (min-width: 960px) {
  .nav-logo {
    background-image: url(../../assets/logo_conectagro.png);
    height: 35px;
    width: 134px;
    margin-top: 8px;
  }
  .title {
    padding-bottom: 30px;
  }
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 0.2s ease;
  }

  .fade-leave {}

  .fade-leave-active {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .nav-logo {
      background-image: url(../../assets/favicon_white.png);
      background-repeat: no-repeat;
      height: 36px;
      overflow: hidden;
      text-indent: -999px;
      width: 39px;
      top: 11px;
      position: absolute;
      left: 10px;
      outline: 0;
  }
  .title {
    padding-top: 20px
  }
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 0.2s ease;
  }

  .fade-leave {}

  .fade-leave-active {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
}

.item-dropdown {
  color: #4c4c4c;
  padding-left: 3px
}
</style>
