<template>
  <div>
    <!--<important-conectagro/>-->
    <menu-conectagro/>
  </div>
</template>

<script>
import ImportantConectagro from './Important'
import MenuConectagro from './Menu'

export default {
  name: 'home',
  components: {
    ImportantConectagro,
    MenuConectagro
  }
}
</script>

<style scoped>
/*.image {
  background: url('../assets/img-none.jpg');
  background-size: cover;
}

.selected:hover {
  box-shadow: 0 2px 8px 0 green;
}


@media (min-width: 960px) {
  .box {
    background-color: #fff;
    padding: 15px;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 2px 8px 0 #adadad;
    -moz-box-shadow: 0 2px 8px 0 #adadad;
    box-shadow: 0 2px 8px 0 #adadad;
  }

  .background {
    width: 100%;
    height: 15%;
    padding: 50px;
    background-color: rgb(255, 171, 64);
    position: relative;
    z-index: 1;
  }
}

.input-search {
  background-color: #fff;
  padding: 0px 30px 10px 30px;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 2px 8px 0 #adadad;
  -moz-box-shadow: 0 2px 8px 0 #adadad;
  box-shadow: 0 2px 8px 0 #adadad;
}*/
</style>
