<template>
  <section class="hero is-medium has-carousel">
    <div class="hero-carousel carousel-animated carousel-animate-fade" data-autoplay="true" data-delay="3000">
      <div class='carousel-container'>
        <div class='carousel-item has-background is-active'>
          <img class="is-background" style="background-color: rgba(0,0,0,0.5); filter:brightness(0.4)" src="http://telefonorojo.mx/wp-content/uploads/2017/12/Agricultores-campo-verde-cultivos-trabajo-m%C3%A9xico-Sagarpa-agricultura-tierra-171200-ASEGURAMIENTO-HELADAS-10.jpg" alt="" />
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" style="background-color: rgba(0,0,0,0.5); filter:brightness(0.4)" src="https://news.nationalgeographic.com/content/dam/news/photos/000/880/88038.jpg" alt="" />
        </div>
        <div class='carousel-item has-background'>
          <img class="is-background" style="background-color: rgba(0,0,0,0.5); filter:brightness(0.4)" src="http://www.fosfoquim.cl/img/foto-agricola.jpg" alt="" />
        </div>
      </div>
      <div class="carousel-navigation is-overlay">
        <div class="carousel-nav-left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="hero-body has-text-centered">
      <div class="columns is-mobile is-centered">
        <div class="column is-half-desktop is-narrow">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Busca el producto que desees">
              <!--<b-autocomplete
                v-model="name"
                :data="filteredDataArray"
                placeholder="e.g. jQuery"
                icon="magnify"
                @select="option => selected = option">
                <template slot="empty">No results found</template>
              </b-autocomplete>-->
            </div>
            <div class="control">
              <a class="button is-success" style="background-color: #8bac54">
                Buscar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      data: [
        'Angular',
        'Angular 2',
        'Aurelia',
        'Backbone',
        'Ember',
        'jQuery',
        'Meteor',
        'Node.js',
        'Polymer',
        'React',
        'RxJS',
        'Vue.js'
      ],
      name: '',
      selected: null
    }
  },
  computed: {
    filteredDataArray() {
      return this.data.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.name.toLowerCase()) >= 0
        })
      }
    }
}
</script>

<style lang="css">
</style>
