﻿<template>
  <section class="hero">
    <div class="background" style="padding-top: 30px">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Iniciar sesión</h3>
            <div class="box">
              <figure class="avatar">
                <img src="../assets/account.png">
              </figure>
              <form @submit.prevent="login">
                <b-field>
                  <b-input
                    placeholder="Correo electrónico"
                    v-model="person.username"
                    type="email"
                    icon="email"
                    required>
                  </b-input>
                </b-field>
                <b-field>
                  <b-input
                    type="password"
                    placeholder="Contraseña"
                    v-model="person.password"
                    icon="lock"
                    required>
                  </b-input>
                </b-field>
                <div class="field is-grouped is-grouped-centered" style="padding-top: 20px">
                  <p class="control">
                    <button type="submit" class="button is-success" style="background-color: #8bac54">
                      Iniciar sesión
                    </button>
                  </p>
                  <p class="control">
                    <router-link
                      :to="{ name: 'register' }">
                      <button class="button is-light" style="color: #8bac54">
                        Registrarme
                      </button>
                    </router-link>
                  </p>
                </div>
              </form>
            </div>
            <b-loading :active.sync="isLoading" :canCancel="true"></b-loading>
            <p class="has-text-grey">
              <router-link
                :to="{ name: 'recover-password' }">
                <a>¿Olvidaste tu contraseña?</a>
              </router-link>
            </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import { mapState, mapMutations } from 'vuex'
import Loader from './LoaderLogin'

export default {
  data () {
    return {
      person: {
        username: '',
        password: ''
      },
      isLoading: false
    }
  },
  methods: {
    // ...mapMutations(['login', 'logout'])
    login () {
      this.isLoading = true
      const self = this
        axios.post('http://ws.conectagro.com/api/usuarios/login', {
          username: this.person.username,
          password: this.person.password
        })
        .then(function (response) {
          console.log(response.data);
          self.isLoading = false
          localStorage.setItem("user_id", response.data.data.id);
          if (localStorage.getItem("user_id") != 'undefined') {
            self.$store.commit('login', response.data.data.id)
            self.getStoreByUser(response.data.data.id)
            self.openLoading()
          } else {
            self.incorrectPassword()
          }
        })
        .catch(function (error) {
          //console.log(error);
        });
    },
    getStoreByUser (idUser) {
      axios({
        method: 'GET',
        url: `http://ws.conectagro.com/api/clientes/${idUser}/tiendas`,
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          // this.categories = response.data.data
          this.$store.commit('store', response.data.data[0].id)
          console.log(response.data.data[0].id);
        })
    },
    goToHome () {
      this.$router.push({ name: '/' })
    },
    openLoading() {
      const self = this
      self.isLoading = true
      setTimeout(() => {
        self.isLoading = false
      }, 10 * 1000);
      self.goToHome()
    },
    incorrectPassword () {
      this.$toast.open({
        duration: 3000,
        message: `Contraseña incorrecta`,
        position: 'is-bottom',
        type: 'is-danger'
      })
    }
  },
  computed: {
    ...mapState(['isAuthenticated', 'userId', 'storeId'])
  },
  components: {
    Loader
  }
}
</script>

<style scoped>
@media (min-width: 960px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 250px;
  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 100px;
  }
}

.box {
  margin-top: 5rem;
  position: relative;
  z-index: 2;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
</style>
