<template>
  <div>
    <section class="hero is-medium has-carousel">
      <div class="hero-carousel carousel-animated carousel-animate-fade" data-autoplay="true" data-delay="3000">
        <div class='carousel-container'>
          <div class='carousel-item has-background is-active'>
            <img class="is-background" style="background-color: rgba(0,0,0,0.5); filter:brightness(0.4)" src="http://telefonorojo.mx/wp-content/uploads/2017/12/Agricultores-campo-verde-cultivos-trabajo-m%C3%A9xico-Sagarpa-agricultura-tierra-171200-ASEGURAMIENTO-HELADAS-10.jpg" alt="" />
          </div>
          <div class='carousel-item has-background'>
            <img class="is-background" style="background-color: rgba(0,0,0,0.5); filter:brightness(0.4)" src="https://news.nationalgeographic.com/content/dam/news/photos/000/880/88038.jpg" alt="" />
          </div>
          <div class='carousel-item has-background'>
            <img class="is-background" style="background-color: rgba(0,0,0,0.5); filter:brightness(0.4)" src="http://www.fosfoquim.cl/img/foto-agricola.jpg" alt="" />
          </div>
        </div>
        <div class="carousel-navigation is-overlay">
          <div class="carousel-nav-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="carousel-nav-right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="hero-body has-text-centered">
        <div class="columns is-mobile is-centered">
          <div class="column is-half-desktop is-narrow">
            <div class="field has-addons">
              <div class="control is-expanded">
                <b-field>
                  <b-input
                    v-model="nombre"
                    placeholder="Busca el producto que desees"
                    type="search"
                    icon="magnify">
                  </b-input>
                </b-field>
              </div>
              <div class="control">
                <a class="button is-success" style="background-color: #8bac54">
                  Buscar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--     PRODUCTOS Y CATEGORIAS    -->

    <section class="footer" style="background-color: #F7F7F7">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="box">
              <aside class="menu">
                <p class="menu-label">
                  Categorías
                </p>
                <ul class="menu-list" v-for="category in categories">
                  <li><a>{{ category.nombre }}</a></li>
                </ul>
              </aside>
            </div>
          </div>
          <loader v-show="isLoading"></loader>
          <div class="column is-9" v-show="!isLoading">
            <div class="content">
              <div class="columns is-mobile is-multiline">
                <div class="column is-one-quarter-desktop is-half-mobile is-one-third-tablet" v-for="product in searchProduct">
                  <router-link
                    :to="{ name: 'product', params: { id : product.id } }" style="text-decoration: none">
                    <product-card-conectagro :product="product"/>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import Loader from './Loader'
import ProductCardConectagro from './ProductCard'

export default {
  name: 'app',
  data: () => ({
      products: [],
      nombre: '',
      categories: [],
      isLoading: false
    }),
  created () {
    this.getProducts()
    this.getCategories()
  },
  methods: {
    getProducts () {
      this.isLoading = true
      axios({
        method: 'GET',
        url: 'http://ws.conectagro.com/api/productos',
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          this.products = response.data.data
          this.isLoading = false
        })
    },
    goToProduct (id) {
      this.$router.push({ name: 'product', params: { id } })
    },
    getCategories () {
      axios({
        method: 'GET',
        url: 'http://ws.conectagro.com/api/categorias',
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          this.categories = response.data.data
        })
    }
  },
  components: {
    Loader,
    ProductCardConectagro
  },
  computed: {
    searchProduct: function () {
      return this.products.filter((item) => item.nombre.toLowerCase().includes(this.nombre));
    }
  }
}
</script>

<style lang="css" scoped>
.hero {

}
</style>
