<template>
  <article class="message is-success">
    <div class="message-header">
      <p>¡Felicitaciones!</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p>Ahora tu tienda es parte de ConecAgro Market</p>
      <!--<button type="submit" class="button is-success" style="background-color: #8bac54">
        Aceptar
      </button>-->
    </div>
  </article>
</template>

<script>
export default {
}
</script>
