<template>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-multiline is-gapless product-detail">

        <div class="column is-2-desktop is-2-tablet is-12-mobile has-text-right-desktop">
          <p>Fotos del producto &nbsp;</p>
        </div>

        <!-- ############# SUBIDA DE ARCHIVOS ############## -->
        <div class="column is-10-desktop is-10-tablet is-12-mobile" style="margin-bottom: 20px">
          <input type="file" multiple id="file" ref="file" v-on:change="handleFileUpload"/>
          <p><button v-on:click="submitFile">Submit</button></p>
        </div>
        <!-- ##################################################### -->

      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      dropFiles: [],
      categories: [],
      product: {
        name: '',
        description: '',
        price: 0,
        weight: 0,
        unitOfMeasurement: '',
        storeId: '',
        categoryId: ''
      },
      file: ''
    }
  },
  created () {
    this.getCategories()
  },
  methods: {
    getCategories () {
      axios({
        method: 'GET',
        url: 'http://ws.conectagro.com/api/categorias',
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          this.categories = response.data.data
        })
    },
    productRegister () {
      let self = this
      axios.post('http://ws.conectagro.com/api/productos', {
        nombre: this.product.name,
        descripcion: this.product.description,
        precio: this.product.price,
        peso: this.product.weight,
        unidad_medida: this.product.unitOfMeasurement,
        tienda_id: '',
        categoria_id: '',
        estado: '0'
      })
      .then(function (response) {
        console.log(response.data)
        // self.submitFile(response.data.data.id)
      })
      .catch(function (error) {
        console.log(error);
      })
    },
    submitFile(){
      let formData = new FormData();
      for( var i = 0; i < this.file.length; i++ ){
        let file = this.file[i];
        formData.append('foto', file);
        console.log(file);
        console.log('-----');
        console.log(formData);
        console.log('-----');
        console.log(i);
        axios.post('http://ws.conectagro.com/api/productos/67/fotos',
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(function(response){
          console.log(response.data);
        })
        .catch(function(error){
          console.log(error);
        });
      }
    },
    handleFileUpload(){
      this.file = this.$refs.file.files
    },
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1)
    }
  }
}
</script>

<style lang="css" scoped>
@media (min-width: 960px) {
  .section {
    background-color: #F7F7F7;
  }

  .product-detail {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    border-radius: 4px;
    border-top: 0;
    overflow: hidden;
    display: flex;
    padding: 20px;
    margin: 0 30px 0 30px;
  }

  .img-detail {
    border-bottom: 1px solid #ddd;
  }

  .text-detail {
    border-left: 1px solid #ddd;
    padding: 30px;

  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .section {
    background-color: #F7F7F7;
  }

  .product-detail {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    border-radius: 4px;
    border-top: 0;
    overflow: hidden;
    display: flex;
    padding: 20px;
    margin: 0 30px 0 30px;
  }

  .img-detail {
    border-right: 1px solid #ddd
  }

  .text-detail {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .text-detail {
    padding-top: 30px;
  }
}
</style>
