<template>
  <div class="card my-card">
    <div class="card-image image is-1by1">
      <img v-bind:src="product.imagen_ruta" class="image-default">
    </div>
    <div class="card-content" style="height: 140px; overflow: hidden">
        <p class="subtitle is-6" style="padding-bottom: 10px">{{ product.nombre }}</p>
        <p class="title is-4">S/. {{ product.precio }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="css" scoped>
.image-default {
  background: url('../assets/img-none.jpg');
  background-size: cover;
}

.my-card:hover {
  box-shadow: 0 2px 8px 0 #8bac54;
}
</style>
