<template lang="html">
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-multiline is-gapless product-detail">
        <div class="column is-7-desktop is-12-mobile">
          <loader v-show="isLoading"></loader>
          <div class="img-detail" v-show="!isLoading">
            <swiper :options="swiperOption">
              <swiper-slide v-for="(image,i) in images">
                <img v-bind:src="image.imagen_ruta" :key="i" class="image-default">
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
          </div>
        </div>
        <div class="column is-5-desktop is-12-mobile" v-for="product in products">
          <div class="text-detail">
            <small>{{ store.distrito + ', ' + store.provincia }}</small>
            <p class="is-size-4 has-text-weight-semibold">{{ product.nombre }}</p>
            <div class="columns is-mobile">
              <div class="column is-7">
                <p class="is-size-2 has-text-weight-light"><small class="is-size-3">S/.</small> {{ product.precio }} <small class="is-size-4">c/u</small></p>
              </div>
              <div class="column is-5">
                <p class="is-size-5 has-text-weight-light" style="padding-top: 15px">Pack de 4 und</p>
              </div>
            </div>
            <div class="columns is-mobile">
              <div class="column is-3">
                <div class="field">
                  <div class="control">
                    <input class="input is-medium is-primary" type="number" value="1">
                  </div>
                </div>
              </div>
              <div class="column is-9">
                <a class="button is-medium is-primary" style="background-color: #8bac54">
                  <span>Agregar al carrito</span>
                  <span class="icon">
                    <i class="fas fa-cart-plus"></i>
                  </span>
                </a>
              </div>
            </div><hr>
            <p class="is-size-4 has-text-weight-semibold">Descripción</p>
            <p>{{ product.descripcion}}</p>
            <hr>
            <p class="is-size-4 has-text-weight-semibold">Información Nutricional</p>
            <hr>
            <p class="is-size-4 has-text-weight-semibold">Modo de uso</p>
            <hr>
            <p class="is-size-4 has-text-weight-semibold">Reconocimientos</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import Loader from './Loader'

export default {
  name: 'carrousel',
  data () {
    return {
      products: [],
      images: [],
      store: {},
      swiperOption: {
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        }
      },
      isLoading: false,
      district: ''
    }
  }
  ,
  created () {
    const id = this.$route.params.id
    this.getProduct(id)
  },
  methods: {
    getProduct (id) {
      const self = this
      this.isLoading = true
      axios({
        method: 'GET',
        url: `http://ws.conectagro.com/api/productos/${id}`,
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          this.products = response.data.data.producto
          this.images = response.data.data.fotos
          this.getStoreByProduct(response.data.data.producto[0].tiendas_id)
          this.isLoading = false
          //alert(JSON.stringify(response.data.data.fotos))
        })
    },
    getStoreByProduct (id) {
      axios({
        method: 'GET',
        url: `http://ws.conectagro.com/api/tiendas/${id}`,
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          this.store = response.data.data
        })
    }
  },
  components: {
    swiper,
    swiperSlide,
    Loader
  }
}
</script>

<style lang="css" scoped>
.image-default {
  background: url('../assets/img-none.jpg');
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (min-width: 960px) {
  .section {
    background-color: #F7F7F7;
  }

  .product-detail {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    border-radius: 4px;
    border-top: 0;
    overflow: hidden;
    display: flex;
  }

  .img-detail {
    /*border-right: 1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
  }

  .text-detail {
    border-left: 1px solid #ddd;
    padding: 30px;

  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .section {
    background-color: #e6e6e6;
  }

  .product-detail {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    border-radius: 4px;
    border-top: 0;
    overflow: hidden;
    display: flex;
  }

  .img-detail {
    border-right: 1px solid #ddd
  }

  .text-detail {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .text-detail {
    padding-top: 30px;
  }
}
</style>
