<template>
  <section class="hero">
    <div class="background" style="padding-top: 30px">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Recuperar contraseña</h3>
            <div class="box">
              <figure class="avatar">
                <img src="../assets/account.png">
              </figure>
              <form @submit.prevent="loadInformationByUsername">
                <b-field>
                  <b-input
                    placeholder="Correo electrónico"
                    v-model="person.username"
                    type="email"
                    icon="email"
                    required>
                  </b-input>
                </b-field>
                <b-field>
                  <b-input
                    type="password"
                    placeholder="Contraseña"
                    v-model="person.password"
                    icon="lock"
                    required>
                  </b-input>
                </b-field>
                <loader v-show="isLoading"/>
                <div class="field is-grouped is-grouped-centered" style="padding-top: 20px" v-show="!isLoading">
                  <p class="control">
                    <button type="submit" class="button is-success" style="background-color: #8bac54">
                      Cambiar contraseña
                    </button>
                  </p>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import Loader from './LoaderLogin'

export default {
  data () {
    return {
      person: {
        username: '',
        password: '',
      },
      isLoading: false
    }
  },
  methods: {
    loadInformationByUsername () {
      this.isLoading = true
      const self = this
      axios({
        method: 'GET',
        url: 'http://ws.conectagro.com/api/usuarios',
        params: { username: this.person.username },
        headers: {'Content-Type': 'application/json'}
      })
        .then(response => {
          // console.log(response.data)
          self.changePassword(response.data.data[0].id)
        })
    },
    changePassword (id) {
      const self = this
      axios.put(`http://ws.conectagro.com/api/usuarios/${id}`, {
          password: this.person.password
      })
      .then(function (response) {
        // console.log(response.data)
        self.isLoading = false
        self.goToLogin()
      })
      .catch(function (error) {
        // console.log(error)
      });
    },
    goToLogin () {
      this.$router.push({ name: 'login' })
    },
    clear () {
      this.$refs.form.reset()
    }
  },
  components: {
    Loader
  }
}
</script>

<style scoped>
@media (min-width: 960px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 250px;
  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 100px;
  }
}

.box {
  margin-top: 5rem;
  position: relative;
  z-index: 2;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
</style>
