<template>
  <section class="hero">
    <div class="background" style="padding-top: 30px">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Regístrate</h3>
          <div class="box">
            <figure class="avatar">
              <img src="../assets/account.png">
            </figure>
            <form @submit.prevent="userRegister">
              <b-field>
                <b-input
                  placeholder="Nombres"
                  v-model="person.firstName"
                  type="text"
                  icon="account"
                  required>
                </b-input>
              </b-field>
              <b-field>
                <b-input
                  placeholder="Apellidos"
                  v-model="person.lastName"
                  type="text"
                  icon="account"
                  required>
                </b-input>
              </b-field>
              <b-field>
                <b-input
                  placeholder="Correo electrónico"
                  v-model="person.email"
                  type="email"
                  icon="email"
                  required>
                </b-input>
              </b-field>
              <b-field>
                <b-input
                  type="password"
                  placeholder="Contraseña"
                  v-model="person.password"
                  icon="lock"
                  required>
                </b-input>
              </b-field>
              <div class="field is-grouped is-grouped-centered" style="padding-top: 20px" v-show="!isLoading">
                <p class="control">
                  <button class="button is-success" type="submit" style="background-color: #8bac54">
                    Registrarme
                  </button>
                </p>
              </div>
            </form>
          </div>
          <small class="is-size-7 has-text-grey-light has-text-justified">Al registrarme, declaro que soy mayor de edad y acepto las <a href="#">Políticas de privacidad</a> y los <a href="#">Términos y condiciones de ConectAgro Market</a></small>
          <b-loading :active.sync="isLoading" :canCancel="true"></b-loading>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import Loader from './LoaderLogin'

export default {
  data () {
    return {
      person: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        passwordConfirm: '',
      },
      isLoading: false
    }
  },
  methods: {
    userRegister () {
      this.isLoading = true
      const self = this
      axios.post('http://ws.conectagro.com/api/usuarios', {
        username: this.person.email,
        password: this.person.password
      })
      .then(function (response) {
        localStorage.setItem("user_id", response.data.data.id);
        self.customerRegister(localStorage.getItem("user_id"));
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    customerRegister (user_id) {
      const self = this
      axios.post('http://ws.conectagro.com/api/clientes', {
        nombres: this.person.firstName,
        apellidos: this.person.lastName,
        email: this.person.email,
        usuario_id: user_id
      })
      .then(function (response) {
        console.log(response.data);
        self.isLoading = false
        self.openLoading()
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    goToHome () {
      this.$router.push({ name: '/' })
    },
    alert() {
        this.$dialog.alert('¡Felicitaciones! Ahora eres parte de ConectAgro Market')
        this.goToHome()
    },
    openLoading() {
      const self = this
      self.isLoading = true
      setTimeout(() => {
        self.isLoading = false
      }, 10 * 1000);
      self.alert()
    }
  }
}
</script>

<style scoped>
@media (min-width: 960px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 320px;
  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 300px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 100px;
  }
}

.box {
  margin-top: 4rem;
  position: relative;
  z-index: 2;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
</style>
