<template>
  <section class="hero">
    <div class="background" style="padding-top: 30px">
      <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
          <h3 class="title has-text-grey">Registra tu empresa</h3>
          <div class="box">
            <figure class="avatar">
              <img src="../assets/store.png">
            </figure>
            <form @submit.prevent="storeRegister">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Nombre comercial" v-model="store.name" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="RUC" v-model="store.ruc" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Razón social" v-model="store.businessName" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Teléfono" v-model="store.phone" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-phone"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Celular" v-model="store.cellPhone" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-phone"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Dirección" v-model="store.address" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column is-4">
                  <!--<p class="control has-icons-left">
                    <span class="select">
                      <select>
                        <option v-for="region in regions">{{ region.name }}</option>
                      </select>
                    </span>
                    <span class="icon is-small is-left">
                      <i class="fas fa-globe"></i>
                    </span>
                  </p>-->
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Región" v-model="store.region" required>
                    </div>
                  </div>
                </div>
                <div class="column is-4">
                  <!--<div class="field">
                    <p class="control has-icons-left">
                      <span class="select">
                        <select>
                          <option v-for="province in provinces">{{ province.name }}</option>
                        </select>
                      </span>
                      <span class="icon is-small is-left">
                        <i class="fas fa-globe"></i>
                      </span>
                    </p>
                  </div>-->
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Provincia" v-model="store.province" required>
                    </div>
                  </div>
                </div>
                <div class="column is-4">
                  <!--<div class="field">
                    <p class="control has-icons-left">
                      <span class="select">
                        <select>
                          <option v-for="district in districts">{{ district.name }}</option>
                        </select>
                      </span>
                      <span class="icon is-small is-left">
                        <i class="fas fa-globe"></i>
                      </span>
                    </p>
                  </div>-->
                  <div class="field">
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Distrito" v-model="store.district" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-grouped is-grouped-centered" style="padding-top: 20px" v-show="!isLoading">
                <p class="control">
                  <button class="button is-success" type="submit" style="background-color: #8bac54">
                    Registrar
                  </button>
                </p>
              </div>
            </form>
          </div>
          <b-loading :active.sync="isLoading" :canCancel="true"></b-loading>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      store: {
        name: '',
        ruc: '',
        businessName: '',
        phone: '',
        cellPhone: '',
        address: '',
        region: '',
        province: '',
        district: ''
      },
      isLoading: false
    }
  },
  created () {
    this.getRegions();
    this.getProvinces();
    this.getDistricts();
    // const id = localStorage.getItem("user_id");
    // console.log(localStorage.getItem("user_id"));
  },
  methods: {
    storeRegister () {
      this.isLoading = true
      const self = this
      axios.post(`http://ws.conectagro.com/api/clientes/${localStorage.getItem("user_id")}/tiendas`, {
        nombre: this.store.name,
        ruc: this.store.ruc,
        razon_social: this.store.businessName,
        telefono: this.store.phone,
        celular: this.store.cellPhone,
        direccion: this.store.address,
        departamento: this.store.region,
        provincia: this.store.province,
        distrito: this.store.district,
        estado: '0'
      })
      .then(function (response) {
        console.log(response.data);
        self.isLoading = false
        self.openLoading()
      })
      .catch(function (error) {
        console.log(error);
      });
  },
  getRegions () {
    // console.log(this.id);
    axios({
      method: 'GET',
      url: 'http://places.conectagro.org/api/region',
      headers: {'Content-Type': 'application/json'}
    })
      .then(response => {
        this.regions = response.data.data
        console.log(response.data.data)
      })
  },
  getProvincesByRegion (region) {
    axios({
      method: 'GET',
      url: `http://places.conectagro.org/api/province?region_id=${region}`,
      headers: {'Content-Type': 'application/json'}
    })
      .then(response => {
        this.provinces = response.data.data
        console.log(response.data.data)
      })
  },
  getProvinces () {
    axios({
      method: 'GET',
      url: `http://places.conectagro.org/api/province`,
      headers: {'Content-Type': 'application/json'}
    })
      .then(response => {
        this.provinces = response.data.data
        console.log(response.data.data)
      })
  },
  getDistricts () {
    axios({
      method: 'GET',
      url: `http://places.conectagro.org/api/district`,
      headers: {'Content-Type': 'application/json'}
    })
      .then(response => {
        this.districts = response.data.data
        console.log(response.data.data)
      })
    },
    goToHome () {
      this.$router.push({ name: '/' })
    },
    alert() {
      this.$dialog.alert('¡Felicitaciones! Su empresa ahora es parte de ConectAgro Market')
      this.goToHome()
    },
    openLoading() {
      const self = this
      self.isLoading = true
      setTimeout(() => {
        self.isLoading = false
      }, 10 * 1000);
      self.alert()
    }
  }
}
</script>

<style scoped>
@media (min-width: 960px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 320px;
  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .background {
    width: 100%;
    height: 300px;
    background-color: #d9904e;
    position: relative;
    z-index: 1;
  }
  .hero {
    padding-bottom: 300px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 100px;
  }
}

.box {
  margin-top: 4rem;
  position: relative;
  z-index: 2;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
</style>
