@import '~vuetify/dist/vuetify.min.css';
@media (min-width: 960px) {
  .title {
    padding-bottom: 30px;
  }
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 0.2s ease;
  }

  .fade-leave {}

  .fade-leave-active {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .title {
    padding-top: 20px
  }
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 0.2s ease;
  }

  .fade-leave {}

  .fade-leave-active {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
}
