<template>
  <div id="app">
    <header-conectagro/>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
    <footer-conectagro/>
  </div>
</template>

<script>
import axios from 'axios'
import HeaderConectagro from './components/shared/Header'
import FooterConectagro from './components/shared/Footer'

export default {
  name: 'app',
  props: {
    source: String
  },
  components: {
    HeaderConectagro,
    FooterConectagro
  }
}
</script>

<style lang="scss">
  @import './scss/main.scss';
  @import './scss/mystyles.scss';
</style>
